/*div{*/
/*    border: solid black 1px;*/
/*}*/


.header{
    text-align: left;
    display: inline-block;
    color: whitesmoke;
}

hr {
    border-color: gray;
    margin-top: 4%;
}

.secondary-color {
    background-color: hsl(0, 0%, 20%);
}

.semi-black .active a,
.semi-black .active a:hover {
    background-color: #343A40;
}

.nav-pills > li > a.active {
    background-color:#343A40!important;
}

.div-main-text {
    margin-top: 0%;
}

.info-card {
    margin-left: 3px;
}

.body-text {
    color: #F1F1F2;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    text-align: center;
  }

#botaoSubmit{
    height: 15;
    
}

.saiba-mais {
    text-align: center;
}

.botao-submeter{
    display: flex;
    align-items: center;
    justify-content: center;
}


#image-logo{
    width: 300px;
    height: 300px;
}

.frameExplicacao{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

body{
     background-color: hsl(0, 0%, 20%);
     color: #FFFFFF;
    /* border: solid black 1px; */
}
