<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="height=d300pxe-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',     filename='images/favicon.png') }}">


    <title>Análise de video</title>

      <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap.min.css') }}">
      <script type="text/javascript" src="{{ url_for('static',     filename='js/bootstrap.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">

      <link rel="stylesheet" href="{{ url_for('static',     filename='fine-uploader/fine-uploader/fine-uploader-gallery.css') }}">
      <script type="text/javascript" src="{{ url_for('static',     filename='fine-uploader/fine-uploader/fine-uploader.min.js') }}"></script>

      <script type="text/template" id="qq-template">
        <div class="secondary-color qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button btn btn-secondary btn-lg mx-auto">
                <div>Escolher vídeo para análise</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Tentar novamente
                    </button>

                    <div class="qq-file-info">
                        <div class="qq-file-name">
                            <span class="qq-upload-file-selector qq-upload-file"></span>
                            <span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon" aria-label="Edit filename"></span>
                        </div>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

  </head>

  <header class="header secondary-color">

    <h1></h1>

    
  </header>
  <body>


    <div class="container">
      <div class="text-center">
          <img  id="image-logo"src="../static/images/security-camera.png" class="rounded"></img src="../static/images/security-camera.png">
      </div>
    </div>


    <div class="container">

        <div id="uploader"></div>
        <script>
            // Some options to pass to the uploader are discussed on the next page
            var uploader = new qq.FineUploader({
                element: document.getElementById("uploader"),
                request: {
                  endpoint: '/upload'
                },
                validation: {
                    allowedExtensions: ['mp4'],
                    itemLimit: 1
                }
            });
        </script>

    </div>

    <br>

    <div class="container saiba-mais">
        <form action="/result" method="post">
              <input class="btn btn-outline-light btn-lg mx-auto saiba-mais btn-block" type="submit" name="form" value="Análisar Vídeo">
        </form>
    </div>

    <div class="div-main-text container">    
        <hr>
      <p class="text-center body-text">
        Esta aplicação tem como objetivo auxiliar na detecção de edições do tipo 'Corte' em um vídeo.
        Este projeto foi desenvolvido como requisito para a conclusão do curso de Engenharia de Computação pela Universidade PUC-Campinas.
      </p>

     <br><br><br>

      <div class="alert alert-info text-center" role="alert">
        Para utilizar esta aplicação insira um vídeo que deseja analisar, após isto será retornado se possivelmente existe um corte neste vídeo.
        Tenha em mente que o objetivo não é garantir que o corte foi detectado, mas sim que caso seja encontrado um possivel 'Corte', o sistema irá lhe informar o momento que possívelmente tenha ocorrido.
      </div>

    </div>


  </body>

  <footer class="footer secondary-color"></footer>

</html>