<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="height=d300pxe-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',     filename='images/favicon.png') }}">
<!--    <link rel="video" type="video/mp4" href="{{ url_for('static',     filename='video_analise') }}">-->


    <title>Análise de video</title>

      <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap.min.css') }}">
      <script type="text/javascript" src="{{ url_for('static',     filename='js/bootstrap.min.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">


  </head>

  <body>


      <div class="card  bg-dark mb-3" style="max-width: 60rem; margin: auto;">
          <div class="card-body">
            <h5 class="card-title">Interpretação dos resultados</h5>
            <p class="card-text">Com a análise feita e um possível corte detectado, o tempo aproximado será exibido. Utilize o player de vídeo para análisar o tempo indicado.</p>
          </div>
      </div>

      <div class="div-main-text container">    
        <hr>
          {% set i = 0 %}
          {% for delta_b in delta_begin %}
          {% if list_y_pred[loop.index-1] == 0 %}

        <div class="alert alert-danger" role="alert">
            Possivel edição entre <span class="font-weight-bold">{{delta_b}}</span>
        </div>

          {% endif %}
          {% endfor %}

          {% if editado == false %}
          <div class="alert alert-primary" role="alert">
            Não foram encontrados indícios de cortes neste vídeo.
          </div>
          {% endif %}
        <hr>
    </div>



    <div class="container">
       <div class="embed-responsive embed-responsive-4by3">
          <video width="320" height="240" controls preload="">
              <source src="/static/video_analise.mp4" type="video/mp4">
              Formato de vídeo não suportado
          </video>

        </div>
    </div>

    <br>
    
    <div class="container saiba-mais">
        <form action="/" method="get">
              <input class="btn btn-outline-light btn-lg mx-auto saiba-mais" type="submit" name="form" value="Análisar outro vídeo">
        </form>
    </div>

  </body>

  <!-- <footer class="footer secondary-color">Development Mode by Paulo Oliveira</footer> -->

</html>